body {
  margin: 0;
  color: #333;
  font-family: "Merriweather", serif;
}

#root {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #ededed;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
